<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Easy V2ray</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item *ngFor="let item of servers" >
      <div>
        <ion-label>item.name</ion-label>
      </div>
    </ion-item>
  </ion-list>
  <div id="container">
  <ion-label *ngIf="!servers||!servers.length">
   {{'noServer' | translate}}
  </ion-label>
</div>
     <ion-fab (click)="addServer()" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small" >
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
     </ion-fab>
</ion-content>
